#img-container {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
